<div class="card bg-light w-75 mx-auto">
  <div class="card-header">Productos</div>
  <div class="card-body">
    <div class="card border-dark mb-3">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element["codigo"]}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="stock" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
          <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="total" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
